<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Contacts/style.css' %}">
    <title>PersonalAssistant</title>
</head>
<body>
    <nav class="navbar" style="background-color: lightblue;">
        <div class="container-fluid">
            <h2 class="me-auto">Personal Assistant</h2>
            <button class="btn btn-outline-success me-2" type="button"><a style='text-decoration: none; color: inherit;' href="{% url 'contacts:start_page' %}">Profile</a></button>
            <button class="btn btn-sm btn-outline-secondary" type="button"><a style='text-decoration: none; color: inherit;' href="{% url 'users:logout' %}">Logout</a></button>
        </div>
    </nav>
    <br>
    <br>
    {% block content %}
    {% endblock %}
    <footer>
        <p>&copy; 2023 <b>Dushiteli_zmei</b>. All rights reserved by intergalactic alliance.</p>
    </footer>
</body>
</html>