{% extends "Contacts/base.html" %}

{% block content %}
    <style>
        /* CSS для центрирования текста по верхней горизонтали */
        .top-center {
            position: absolute;
            top: 2;
            left: 50%;
            transform: translateX(-50%);
        }
        .centered {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>

    <div>
        <h4 class="top-center mt-5">Hello, <i>{{ user_name }}</i>. It's your profile</h4>
    </div>

    <div class="centered">
        <div class="example">
            <img src="{{ src }}" alt="image">
            <h3>{{ title }}</h3>
            <p>{{ text_ }}</p>
            <p>Sourse: <a href="{{ href }}">...</a></p>
        </div>
    </div>

    <div class="position-absolute top-0 end-0 mt-5 me-3">
        <div class="container mt-5">
            <h4><a href="{% url 'utils:get_weather' %}" style="text-decoration: none; color: inherit;">Weather</a></h4>
            <table class="table">
                <tbody>
                    <tr>
                        <th>City: </th>
                        <td>{{ city }}</td>
                    </tr>
                    <tr>
                        <th>County: </th>
                        <td>{{ country }}</td>
                    </tr>
                    <tr>
                        <th>Temperature: </th>
                        <td>{{ temp }}&deg;C</td>
                    </tr>
                    <tr>
                        <th>Feels like: </th>
                        <td>{{ app_temp }}&deg;C</td>
                    </tr>
                    <tr>
                        <th>Air Quality Index: </th>
                        <td>{{ aqi }}</td>
                    </tr>
                    <tr>
                        <th>Wind speed: </th>
                        <td>{{ wind_spd }} m/s</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card" style="width: 18rem;">
      <a class="nav-link active" href="{% url 'contacts:contact_list' %}">
      <div class="card-body">
        <h5 class="card-title">Contacts</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">ContactBook</h6>
        <p class="card-text">Click here to view and manage contacts</p>
      </div>
      </a>
    </div>
    <br>

    <div class="card" style="width: 18rem;">
      <a class="nav-link active" href="{% url 'notes:index' %}">
      <div class="card-body">
        <h5 class="card-title">Notes</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">NoteBook</h6>
        <p class="card-text">Click here to view and manage notes and tags</p>
      </div>
      </a>
    </div>

    <br>
    <div class="card" style="width: 18rem;">
      <a class="nav-link active" href="{% url 'utils:main_page' %}">
      <div class="card-body">
        <h5 class="card-title">Files</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Images/Documents/Another</h6>
        <p class="card-text">Click here to view, add, or download your files</p>
      </div>
      </a>
    </div>


{% endblock %}