{% extends "Contacts/base.html" %}

{% block content %}
<div class="text-center mt-1 mb-3">
    <a href="{% url 'utils:upload' %}" class="btn btn-primary">Upload file</a>
</div>
    <div class="card" style="width: 18rem;">
      <a class="nav-link active" href="{% url 'utils:show_unknown' %}">
      <div class="card-body">
        <h5 class="card-title">Unknown Extensions</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Another</h6>
        <p class="card-text">A file with UNKNOWN filename extension</p>
      </div>
      </a>
    </div>
    <br>

    <div class="card" style="width: 18rem;">
      <a class="nav-link active" href="{% url 'utils:show_images' %}">
      <div class="card-body">
        <h5 class="card-title">Images</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Pictures</h6>
        <p class="card-text">Edit and delete pictures</p>
      </div>
      </a>
    </div>

    <br>
    <div class="card" style="width: 18rem;">
      <a class="nav-link active" href="{% url 'utils:show_documents' %}">
      <div class="card-body">
        <h5 class="card-title">Documents</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Documents</h6>
        <p class="card-text">Your documents</p>
      </div>
      </a>
    </div>

{% endblock %}
