{% extends "Contacts/base.html" %}
{% load static %}
{% block content %}
    <style>
        .document-block {
            max-width: 300px; /* Максимальная ширина блока */
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
            margin: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .document-block img {
            width: 178px;
            margin-bottom: 10px;
        }

        .contrast {
            display: inline-block;
            padding: 10px 15px;
            margin: 5px;
            border: 1px solid #007bff;
            border-radius: 5px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .contrast:hover {
            background-color: #0056b3;
        }
    </style>
    <h2>Documents list:</h2>
    {% for document in user_documents %}
    <div class="document-block">
        <h3>{{ document.type }}</h3>
        <a href="{{ document.href }}"><img src="{% static 'Utils/images/document_image.jpg' %}" alt="Картинка" class="img-responsive" width="178px"></a>
        <a href="{% url 'utils:delete' document.id %}" role="button" class="contrast"> Delete </a>
        <a href="{% url 'utils:download' document.id %}" role="button" class="contrast"> Download</a>
    </div>
    {% endfor %}
{% endblock %}
