footer {
    background-color: #333; /* Цвет фона футера */
    color: #fff; /* Цвет текста */
    padding: 20px; /* Внутренний отступ */
    text-align: center; /* Выравнивание текста по центру */
    position: fixed; /* Фиксированное позиционирование внизу страницы */
    bottom: 0; /* Прижимаем к нижней грани страницы */
    width: 100%; /* Ширина 100% для растягивания по всей ширине */
}

.card {
    margin-left: 40px;
}
