{% extends "Users/base.html" %}

{% block content %}
<style>
    /* Центрирование формы по центру экрана */
    .center-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }

    /* Стили для формы и полей */
    form {
        width: 300px;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: lightblue;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    form label {
        display: block;
        margin-bottom: 10px;
    }

    form input[type="text"],
    form input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    /* Стили для кнопок */
    form .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    form button {
        padding: 10px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    form .secondary {
        background-color: #ccc;
        color: #333;
    }
</style>

<div class="center-container">
    {% if messages %}
    <div>
        {% for message in messages %}
        <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <form action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        <div>
            <label>Username:
                {{ form.username }}
            </label>
        </div>

        <div>
            <label>Password:
                {{ form.password }}
            </label>
        </div>
        <div>
            <a href="{% url 'users:password_reset' %}" class="text-center"><i>Forgot Password?</i></a>
        </div>

        <div class="grid">
            <button type="submit">Submit</button>
            <button type="reset" class="secondary">Reset</button>
        </div>
    </form>
</div>
{% endblock %}
