{% extends "Users/base.html" %}

{% block content %}
    <style>
    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button {
        background-color: #a0d468; /* Светло-салатовый цвет */
        color: #fff;
        padding: 15px 30px;
        border: none;
        border-radius: 8px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    .button:hover {
        background-color: #8cc051;
    }

    .button a {
        text-decoration: none;
        color: #fff;
    }

    </style>
    <h2>Password reset complete!</h2>
    <div class="button-container">
        <button class="button"><a href="{% url 'users:login' %}">Sign In</a></button>
    </div>
{% endblock %}